.text-container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    p {
        color: rgba(0, 0, 0, 0.35);
    }
}

.partner-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.partner__link {
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    padding: 5%;
    overflow: hidden;
    .partner__img {
        position:absolute;
        top: 7%;
        left: 9%;
        width: 80%;
    }
}